$color-primary: #DD386A !default;
$color-primary-light: #E3708F !default;
$color-secondary: #13515E !default;
$color-success: #84BF6C !default;
$color-warning: #F98C00 !default;
$color-danger: #B00020 !default;
$dangerlight: #E45154 !default;
$color-info: #878d99 !default;
$white: #fff !default;
$black: #000 !default;
$lightgray: #A1AAAA !default;
$gray: #6D6D6D !default;
$border: #DADFE0 !default;
$text: #646C70 !default;
$lightbackground: #E8F1F4 !default;
$borderlight: #DEDFE1 !default;
$darkcolor: #E3708F !default;
$lightheader: #EEF2F4 !default;
$darktext: #192F38 !default;
$lightgreen: #C6CD53 !default;
$innertext: #86A4AE !default;
$borderhover: #344F5B !default;


// Social colors

$color-instagram: #e4405f;
$color-twitter: #55acee;
$color-pinterest: #bd081c;
$color-facebook: #3b5999;
$color-youtube: #FB4A38;
$color-linkedin: #0078AA;

// Font Family
$defaultFont: 'SF Pro Display', sans-serif;
$secondryFont: 'Open Sans', sans-serif;